@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="d-flex align-items-center justify-content-center bg-dark border-dark mt-md-5 rounded-lg">
    <div class="col-md-6 py-lg-4 my-20">
        <section>
            <h1 class="text-white pt-lg-4 my-20">Glömt ditt lösenord?</h1>
            <h4 class="text-white pt-lg-4 my-20">Skriv in din e-postadress.</h4>
            <hr />    
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group text-white">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                   <button type="submit" class="btn btn-primary mb-md-5">Submit</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
