@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a class="text-white px-5" href="authentication/profile">Hej,  @context.User.Identity.Name!</a>
        <button class="nav-link btn btn-primary mx-12" @onclick="BeginSignOut">Logga ut</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Registrera</a>
        <a href="authentication/login">Logga in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
