@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication





<AuthorizeView>
    <Authorized>
        <div class="page">           
            <div class="main">
                <div class="top-row px-4 auth">
                    <LoginDisplay />                   
                </div>
                <div class="content px-2 mt-md-5">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="page">         
            <div class="main">
                <div class="top-row px-4 auth">
                    <LoginDisplay />                  
                </div>
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>