@page "/fetchuserdetails"
@using BlazorTestApp.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
@attribute [Authorize]

<h1 class="mt-md-5">Användarlista</h1>

<div class="row">
    <div class="col-md-6">
        <a href='/user/add' class="btn btn-primary mt-md-5" role="button">
            <i class="fas fa-user-plus"></i>
            Lägg till användare
        </a>
    </div>
    <div class="input-group col mt-md-5">
        <input type="text" class="form-control" placeholder="Sök"
               @bind="SearchString" @bind:event="oninput" @onkeyup="FilterUser" />
        @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
</div>
<br />
@if (userList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="mt-5 table table-striped align-middle table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Namn</th>
                <th>Address</th>
                <th>E-post</th>              
                <th>Redigera</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userList)
            {
                <tr>
                    <td>@user.Userid</td>
                    <td>@user.Username</td>
                    <td>@user.Address</td>                 
                    <td>@user.Emailid</td>
                    <td>
                        <a href='/user/edit/@user.Userid' class="btn btn-primary" role="button">
                            Redigera
                        </a>
                        <a href='/user/delete/@user.Userid' class="btn btn-danger" role="button">
                            Radera
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    protected List<User> userList = new();
    protected List<User> searchUserData = new();
    protected User user = new();
    protected string SearchString { get; set; } = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        await GetUser();
    }
    protected async Task GetUser()
    {
        userList = await Http.GetFromJsonAsync<List<User>>("api/User");
        searchUserData = userList;
    }
    protected void FilterUser()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            userList = searchUserData
                .Where(x => x.Username.IndexOf(SearchString, StringComparison.OrdinalIgnoreCase) != -1)
                .ToList();
        }
        else
        {
            userList = searchUserData;
        }
    }
    protected void DeleteConfirm(int userID)
    {
        user = userList.FirstOrDefault(x => x.Userid == userID);
    }
    public void ResetSearch()
    {
        SearchString = string.Empty;
        userList = searchUserData;
    }
}